.input {
  width: 340px;
  font-size: 16px;
  border: 2px solid #c7cdd4;
  padding: 8px 16px;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;

  &::placeholder {
    color: #c7cdd4;
    font-weight: 500;
  }
}