@import "../../variables";

.list {
  background-color: $color-white-2;
  border-top: 1px solid $color-gray;
  position: relative;
  padding-top: 20px;
  margin-top: 10px;
  height: calc(100vh - 400px);

  &__scrollable {
    overflow-y: auto;
  }

  &_elem {
    display: flex;
    margin: 20px 40px;

    &__details {
      margin-left: 20px;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__name {
      font-size: 14px;
    }

    &__time {
      font-size: 12px
    }

    &__description {
      font-weight: 500;
    }
  }

  &_add {
    width: 60px;
    height: 60px;
    font-size: 36px;
    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid $color-gray-2;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 30px;
  }
}
