@import "../../variables";

.modal {
  background: $color-white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 0 5px 10px 2px rgba(195,192,192,.5);
  padding: 20px;
  text-align: center;

  &__close_btn {
    font-size: 30px;
    transform: rotate(45deg);
    background-color: transparent;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }

  &__btn {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: $color-white;
    background-color: $color-violet;
    border-radius: 4px;
    padding: 12px 24px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out .2s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;;
    }

    &:disabled {
      background-color: $color-gray-3;
      cursor: default;
    }
  }
}
