$color-white: #FFF;
$color-white-2: #F7F9FA;

$color-gray: #A1ABB8;
$color-gray-2: #C5CED8;
$color-gray-3: #515C6B;
$color-gray-4: #E0E5EC;
$color-gray-5: #C7CDD4;

$color-violet: #6259f0;

$color-red: #A81E44;

$color-black: #000;